<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/login/style.css">
    <title>Login screen</title>
  </head>
  <body>
    <form method="POST">
    <div class="container">
      <div>
      <div class="wrapper">
        <label><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="user" required>
      </div>
      </div>

      <div>
      <div class="wrapper">
        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
      </div>
      </div>
      
      <div>
      <div class="wrapper">
        <label><b>Confirm Password</b></label>
        <input type="password" placeholder="Enter Password" name="confirm" required>
      </div>
      <div>
      {% csrf_token %}
      <input type="text" name="action" value="createuser" style="display:none;">
      <button action="submit">Login</button>
    </div>
  </form>
</html> 
<script src="/login/main.js"></script>
