body {
  margin: 0;
  width: 100%;
  vertical-align: top;
}

#infozone, #actionzone, #mainzone {
  margin: .5%;
}

.spell {
  padding: 5%;
}

.spell-desc {
  vertical-align: top;
  text-align: justify;
}

div {
  box-sizing: border-box;
}


#topmain, #botmain {
  height: 50%;
  border: 1px solid #888888;
}

.front, .back {
  text-align: center;
  height: 50%;
}

.portrait {
  width: 18%;
  height: 72%;
  margin: 3.5% .5%;
  background-color: #aa0000;
  display: inline-block;
}

#infozone {
  background-color: #dddddd;
  border: 2px solid black;
}

#actionzone {
  background-color: #dddddd;
  border: 2px solid black;
}

@media (orientation: landscape) {
  .spell-icon {
    height: calc(10vmax - 8vmin);
    width: calc(10vmax - 8vmin);
    background-color: blue;
    float: left;
  }
  .spell {
    height: 25%;
  }
  #infozone, #actionzone, #mainzone {
    display: inline-block;
    vertical-align: top;
    height: 96vh;
  }
  #infozone, #actionzone {
    width: calc(48% - 48vh - 10px);
  }
  #mainzone {
    width: 96vh;
  }
}

@media (orientation: portrait) {
  .spell-icon {
    height: calc(28vmax - 30vmin);
    width: calc(28vmax - 30vmin);
    background-color: blue;
    display: inline-block;
  }
  .spell {
    padding: calc(4vmax - 4vmin) 0;
    display: inline-block;
    text-align: center;
    width: 24%;
  }
  .spell-desc {
    display: none;
  }
  #infozone, #actionzone {
    height: calc(44vh - 48vw);
    text-align: center;
  }
  #mainzone {
    height:96vw;
  }
}
