.container {
  width: 100%;
  height: 92vh;
  padding-top: 30vh;
  text-align: center;
}
label {
  display: inline-block;
  width: 50%;
}

input {
  width: 46%;
}

button {
  width: 10%;
  height: 30px;
}

div.wrapper {
  padding:.5% 2%;
  margin: .5%;
  width: 25%;
  border: 1px solid #aaaaaa;
  box-sizing:border-box;
  display: inline-block;
  text-align: left
}
